.navbar {
  background-color: #c2c2c2;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
}

.navbarHome p,
.navbarAbout p {
  color: rgb(44, 43, 43);
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 5rem;
  cursor: pointer;
}

.navbarHome p:hover,
.navbarAbout p:hover {
  background-color: #9fd5e9;
}
